<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    👋 Hi, I'm Shreyas Yadav – Full-Stack Developer
    I specialize in building dynamic, scalable web applications using Java Spring Boot, React, and PostgreSQL.
    With a passion for crafting efficient solutions, I focus on creating seamless user experiences,
    optimizing database performance, and delivering robust, production-ready applications. From backend logic to front-end interfaces,
    I thrive on turning ideas into reality with modern web technologies.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    I’ve always enjoyed the process of building software whether it’s finding elegant solutions to tough problems or learning something new along the way.
  </p>
</section>
