<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    👋 Hi, I'm a software developer specializing in building dynamic and scalable Web applications using Modern Tech Stack. I have a passion for creating efficient solutions and focus on delivering seamless user experiences, optimizing database performance, and developing robust, production-ready applications. I enjoy working on both backend logic and front-end interfaces, and I thrive on transforming ideas into reality using modern web technologies.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    Building software is a process I truly enjoy, whether it involves finding elegant solutions to complex problems or learning something new along the way.
  </p>
</section>
