<section class="min-h-screen flex items-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl text-left">
        <h1 class="text-green-400 font-mono mb-5" data-aos="fade-up" data-aos-delay="100">Hi, my name is</h1>
        <h2 class="text-5xl sm:text-7xl font-bold text-lightest-slate mb-4" data-aos="fade-up" data-aos-delay="200">
            Shreyas Yadav
        </h2>
        <h3 class="sm:text-2xl font-bold text-slate mb-8" data-aos="fade-up" data-aos-delay="300">
          Computer Whisperer
          <span style="font-size:small;">(San Francisco, CA)</span>
        </h3>
        <p class="text-slate max-w-xl text-lg mb-12" data-aos="fade-up" data-aos-delay="400">
          Engineering solutions that are sometimes genius, often elegant, and always a testament to my love for problem-solving. As a software engineer, I build systems that work… most of the time
        </p>
    </div>
</section>
