<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <!-- <h3 class="text-2xl font-semibold mb-4">Experience</h3> -->
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Software Engineering Intern</h4>
        <p class="text-slate">
          <a href="https://www.fibre2fashion.com">American Bureau Of Shipping</a> • January 2023 - May-2023
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Developed an internal employee rating system used by 400+ employees, reducing performance evaluation processing time by 35%, which improved workflow efficiency and eliminated manual paperwork.
          </li>
          <li>
            Engineered REST APIs for the Freedom for Survey project, synchronizing data between Oracle Database and IBM Maximo in real-time, which improved report generation efficiency by 40.
          </li>
        </ul>
      </div>

      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Web Developer Intern</h4>
        <p class="text-slate">
          <a href="https://www.marutitech.com">Starktech Ventures Pvt Ltd</a> • Oct 2021 - April 2022
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Redesigned the company website using Laravel and JavaScript, reducing load time by 60%, which boosted user engagement by 25%.
          </li>
          <li>
            Integrated a secure payment gateway that processed 500+ transactions monthly, improving conversion rates by 18% and reducing checkout abandonment.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
