<section id="experience" class="section-container">
  <div class="grid md:grid-cols-2 gap-8">
    <div></div>
    <div>
      <h2 class="section-title" data-aos="fade-up">Experience</h2>
      <div data-aos="fade-up" data-aos-duration="800">
      <!-- <h3 class="text-2xl font-semibold mb-4">Experience</h3> -->
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Teaching Assistant Computer Architecture</h4>
        <p class="text-slate">
          <a href="https://www.usfca.edu/" target="_blank" rel="noopener noreferrer">University of San Francisco</a> • Aug 2025 – Present
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Assisted in teaching comprehensive computer architecture course covering RISC-V fundamentals, assembly language programming, and digital circuit design.
          </li>
          <li>
            Facilitated hands-on projects involving complete processor design and RISC-V emulator development.
          </li>
        </ul>
      </div>

      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Software Engineering Intern</h4>
        <p class="text-slate">
          <a href="https://www.fibre2fashion.com">American Bureau Of Shipping</a> • Jan 2023 - Jun 2023
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Developed a full-stack employee rating platform using React and Spring Boot, enabling 400+ employees to submit and review performance data, reducing manual effort and improving processing time by 35%.
          </li>
          <li>
            Engineered REST APIs for data synchronization between Oracle Database and IBM Maximo in real-time, improving report generation efficiency by 40%.
          </li>
        </ul>
      </div>

      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Web Developer Intern</h4>
        <p class="text-slate">
          <a href="https://www.marutitech.com">Starktech Ventures Pvt Ltd</a> • Oct 2021 - Apr 2022
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Developed a full-stack e-commerce platform with Laravel and Javascript, reducing page load times by 60% and driving a 25% lift in user engagement.
          </li>
          <li>
            Implemented secure Stripe integration handling 50+ monthly transactions, increasing conversions by 20% and reducing cart abandonment.
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</section>
