<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <!-- <h3 class="text-2xl font-semibold mb-4">Experience</h3> -->
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Software Engineering Intern</h4>
        <p class="text-slate">
          <a href="https://www.fibre2fashion.com">American Bureau Of Shipping</a> • January 2024 - May-2023
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Developed an internal employee rating system used by 400+ employees, reducing performance evaluation
            processing time by 35% and eliminating manual paperwork.
          </li>
          <li>
            Engineered REST APIs for the Freedom for Survey project, enabling real-time data synchronization between
            Oracle Database and IBM Maximo, improving report generation efficiency by 40%.
          </li>
          <li>
            Collaborated with a cross-functional team using Agile/Scrum methodologies, participating in daily stand-ups
            and bi-weekly sprints to deliver features on time and within scope.
          </li>
        </ul>
      </div>

      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Web Developer Intern</h4>
        <p class="text-slate">
          <a href="https://www.marutitech.com">Starktech Ventures Pvt Ltd</a> • Oct 2021 - April 2022
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>
            Redesigned the company website using Laravel and JavaScript, decreasing load time by 60% and increasing user
            engagement metrics by 25%
          </li>
          <li>
            Integrated a secure payment gateway that processed over 500 transactions monthly, improving conversion rates
            by 18% and reducing checkout abandonment.
          </li>
          <li>
            Developed a scalable backend system to manage product details, which reduced data entry errors by 45% and
            improved inventory management accuracy.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
